﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Empleado.aspx.cs" Inherits="IPC2F2_201700569.Empleado" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
     <style type="text/css">
        * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-literary-and-elegant-low-light-cold-and-warm-with-distant-mountains-image_275008.jpg');
}

.form-register {
    width: 600px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

    .form-register h4 {
        font-size: 22px;
        margin-bottom: 20px;
    }

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
.controls1{
    width: 50%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

    .form-register a:hover {
        color: white;
        text-decoration: underline;
    }

.form-register .botons {
         border-style: none;
             border-color: inherit;
             border-width: medium;
             background: #1f53c5;
             padding: 10px;
             color: white;
             margin: 10px 0;
}
         </style>
</head>
<body>
   <form id="form1" runat="server">
    <section class="form-register">
    <h4> Empleado</h4>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:Button class="botons" ID="Button5" runat="server" Text="Buscar" Width="70px" OnClick="Button5_Click" />
            
            
            &nbsp;&nbsp;&nbsp;
            <asp:TextBox class="controls1" ID="TextBox13" runat="server" autofocus="true"  placeholder="Ingresar Nit" Width="110px" ></asp:TextBox>
    
            
         <asp:TextBox class="controls" ID="TextBox1" runat="server" autofocus="true"  placeholder="Ingrese su Nit"  ></asp:TextBox>
        <asp:TextBox class="controls" ID="TextBox2" runat="server" autofocus="true"  placeholder="Ingrese su Nombre" ></asp:TextBox>
        <asp:TextBox class="controls" ID="TextBox3" runat="server" autofocus="true"  placeholder="Ingrese su Apellido" ></asp:TextBox>
        <asp:TextBox class="controls" ID="TextBox4" runat="server" autofocus="true"  placeholder="Ingrese su fecha de nacimiento" ></asp:TextBox>
        <asp:TextBox class="controls" ID="TextBox5" runat="server" autofocus="true"  placeholder="Ingrese su Direccion a Domicilio" ></asp:TextBox>
        <asp:TextBox class="controls" ID="TextBox6" runat="server" autofocus="true"  placeholder="Ingrese su telefono a Domicilio" ></asp:TextBox>
        <asp:TextBox class="controls" ID="TextBox7" runat="server" autofocus="true"  placeholder="Ingrese su numero de celular" ></asp:TextBox>
        <asp:TextBox class="controls" ID="TextBox8" runat="server" autofocus="true" placeholder="Ingrese su correo" ></asp:TextBox>
        <%--<asp:DropDownList  class="controls" ID="DDLPuesto" runat="server" Height="41px" Width="537px">
                </asp:DropDownList>--%>
       <asp:TextBox class="controls" ID="TextBox10" runat="server" autofocus="true"  placeholder="Ingrese idPusto" ></asp:TextBox>
       
        <asp:TextBox class="controls" ID="TextBox9" runat="server" autofocus="true"  placeholder="Ingrese Nit Jefe" ></asp:TextBox>
       <asp:TextBox class="controls" ID="TextBox11" runat="server" autofocus="true"  placeholder="Ingrese su Contraseña" ></asp:TextBox>
 
        <p>

           

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;

           

            <asp:Button class="botons" ID="Button1" runat="server" Text="Agregar" OnClick="Button1_Click" />
            <asp:Button class="botons" ID="Button3" runat="server" Text="Modificar" Width="75px" OnClick="Button3_Click" />

        </p><asp:Label ID="Label1" runat="server"> hola</asp:Label>
        <p> </p>
        
            <asp:Button class="botons" ID="Button4" runat="server" Text="Empleados" Width="94px" OnClick="Button4_Click" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
            <asp:Button class="botons" ID="Button2" runat="server" Text="Eliminar" Width="70px" OnClick="Button2_Click" />
            
            &nbsp;&nbsp;
            <asp:TextBox class="controls1" ID="TextBox12" runat="server" autofocus="true"  placeholder="Ingresar Nit" Width="116px" ></asp:TextBox>
    
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <asp:GridView ID="gvPhoneBook" runat="server" AutoGenerateColumns="False" Width="548px">
            <Columns>
                <asp:BoundField DataField="Nit" HeaderText ="Nit" />
                <asp:BoundField DataField="nombre" HeaderText ="nombre" />
                <asp:BoundField DataField="apellido" HeaderText ="apellido" />
                  <asp:BoundField DataField="direccion" HeaderText ="direccion" />
                <asp:BoundField DataField="celular" HeaderText ="celular" />
                <asp:BoundField DataField="email" HeaderText ="email" />
                
              
                <asp:BoundField DataField="jefe" HeaderText ="jefe" />
            </Columns>
        </asp:GridView>
        </div>
       
    <p><a href="#">Regresar</a></p>
  </section>
    </form>
</body>
</html>
